.dropshadow {
    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-mobile{
    &::after{
        background-image: url('../../svg/icon-mobile.svg');
        background-size: cover;
        transition: .5s ease;

        cursor: pointer;
        filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
    }

    &:hover{
        &::after{
            transform: scale(1.05);
        }
    }
}
.bg-icon-contactless {
    &::after {
      background-image: url("../svg/icon-contactless.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }
  
  .bg-icon-time {
    &::after {
      background-image: url("../svg/icon-time.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }
  
  .bg-icon-config {
    &::after {
      background-image: url("../svg/icon-config.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }
  
  .bg-icon-card {
    &::after {
      background-image: url("../svg/icon-card.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }
  
  .bg-icon-check {
    &::after {
      background-image: url("../svg/icon-check.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
      width: 40px;
      height: 40px;
      top: 16px;
      left: 8px;
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }
  .bg-icon-time {
    &::after {
      background-image: url("../svg/icon-time.svg");
      background-size: cover;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  
      transition: 0.5s ease;
    }
  
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }  

.icon{
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: .5s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.05);
  }
}

.icon-network{
  max-width: 48px;
}
.icon-network-2{
  max-width: 55px;
  stroke-width: 4%;
}

.teste{
  padding-left: 5%;

  @include responsive(lg){
    padding-left: 5%;
  }
  @include responsive(md){
    padding-left: 5%;
  }
  @include responsive(sm){
    padding-left: 5%;
  }
}